NewDF999/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NewDF999"
		},
		"LS_ADLS_StockMarket_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_StockMarket'"
		},
		"LS_Databricks_StockMarket_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Databricks_StockMarket'"
		},
		"LS_ADLS_StockMarket_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://itsmystorage.dfs.core.windows.net/"
		},
		"LS_Databricks_StockMarket_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0625-095611-zndj5pqz"
		},
		"LS_HTTP_AlphaVantage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.alphavantage.co"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_StockMarket_Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_AlphaVantage_to_Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_HTTP_AlphaVantage",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Bronze_Stock",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Run_Bronze_to_Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy_AlphaVantage_to_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/sreevastav3_gmail.com#ext#@sreevastav3gmail.onmicrosoft.com/01_bronze_to_silver_stock"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_StockMarket",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Run_Silver_to_Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Run_Bronze_to_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/sreevastav3_gmail.com#ext#@sreevastav3gmail.onmicrosoft.com/02_silver_to_gold_stock"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks_StockMarket",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-26T06:42:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_HTTP_AlphaVantage')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Bronze_Stock')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks_StockMarket')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Bronze_Stock')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_StockMarket",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('stock_AAPL_', formatDateTime(utcNow(), 'yyyy-MM-dd-HH-mm'), '.json')",
							"type": "Expression"
						},
						"folderPath": "stock_market",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_StockMarket')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_HTTP_AlphaVantage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HTTP_AlphaVantage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "/query?function=TIME_SERIES_DAILY&symbol=AAPL&apikey=D837CMRIWWO1HVZY&datatype=json&outputsize=compact",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HTTP_AlphaVantage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_StockMarket')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_StockMarket_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_StockMarket_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks_StockMarket')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405618932645188.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_StockMarket_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Databricks_StockMarket_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HTTP_AlphaVantage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_HTTP_AlphaVantage_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Daily_StockMarket')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_StockMarket_Ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-06-26T06:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_StockMarket_Ingestion')]"
			]
		}
	]
}